<div class="card shadow-lg" style="width: 16rem;">
  <div class="image-wrapper">
    <img src="../../assets/images/houseDefault2.png" class="card-img-top" alt="...">
    <ul class="list-inline member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="far fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Proprety.name}}</h5>
    <p class="card-text">Price: {{Proprety.price |currency : 'SAR'}}</p>
    <p class="card-text">Type: {{Proprety.type}}</p>
  </div>
</div>
